<template>
  <div>
    <v-container grid-list-md>
      <v-card v-if="campaign.id">
        <v-img :src="campaign.image" class="white--text" height="400px">
          <v-card-title class="fill-height align-end" v-text="campaign.title"></v-card-title>
        </v-img>

        <v-card-text>
          <v-simple-table dense>
            <tbody>
              <tr>
                <td>
                  <v-icon>mdi-home-city</v-icon>Alamat
                </td>
                <td>{{ campaign.address }}</td>
              </tr>
              <tr>
                <td>
                  <v-icon>mdi-hand-heart</v-icon>Terkumpul
                </td>
                <td class="blue--text">Rp {{ campaign.collected.toLocaleString('id-ID') }}</td>
              </tr>
              <tr>
                <td>
                  <v-icon>mdi-cash</v-icon>Dibutuhkan
                </td>
                <td class="orange--text">Rp {{ campaign.required.toLocaleString('id-ID') }}</td>
              </tr>
            </tbody>
          </v-simple-table>Description:
          <br />
          {{ campaign.description }}
        </v-card-text>
        <v-card-actions>
          <v-btn
            block
            color="primary"
            @click="donate()"
            :disabled="campaign.collected >= campaign.required"
          >
            <v-icon>mdi-money</v-icon>&nbsp;
            Donate
          </v-btn>
        </v-card-actions>
      </v-card>
    </v-container>
  </div>
</template>

<script>
import { mapMutations, mapActions } from 'vuex';
export default {
  data: () => ({
    campaign: {},
    total: null
  }),
  created() {
    this.go();
  },
  methods: {
    go() {
      let { id } = this.$route.params;
      let url = "/api/campaign/" + id;
      axios
        .get(url)
        .then(res => {
          console.log(res.data.data.campaign);
          let { data } = res.data;
          this.campaign = data.campaign;
        })
        .catch(error => {
          let { response } = error;
          console.log(response);
        });
    },
    increment() {
      this.$store.commit("increment");
      console.log(this.$store.state.count);
    },
    ...mapMutations({
      tambahTransaksi : 'transaction/insert'
    }),

    ...mapActions({
      setAlert : 'alert/set'
    }),

    donate(){
      this.tambahTransaksi()
      this.setAlert({
        status : true,
        color  : 'red',
        text   : 'Transaksi ditambahkan'
      })
    },


    // ...mapMutations({
    //   donate:'transaction/insert',
    // })

    //panggil mutation cara bisa
    // transaction() {
    //   this.$store.commit("insert");
    //   console.log(this.$store.state.transaction);
    // }
  }
};
</script>
