<template>
  <div>
    <v-container grid-list>
      <v-subheader>All Campaign</v-subheader>
      <v-layout wrap>
        <v-flex v-for="(campaign) in campaigns" :key="'category-'+campaign.id" xs6>
          <!-- <v-card :to="'/campaign/' + campaign.id">
            <v-img :src="campaign.image" class="white-text">
              <v-card-title class="fill-height allign-end" v-text="campaign.title"></v-card-title>
            </v-img>
          </v-card> -->
          <campaign-item :campaign="campaign"></campaign-item>
        </v-flex>
      </v-layout>
      <v-pagination v-model="page" @input="go" :length="lengthPage" :total-visible="5"></v-pagination>
    </v-container>
  </div>
</template>

<script>
export default {
  data: () => ({
    campaigns: [],
    blogs: [],
    page: 0,
    lengthPage: 0
  }),
  methods: {
    go() {
      let url = "api/campaign?page=" + this.page;
      axios
        .get(url)
        .then(res => {
        console.log(res.data)
          let { data } = res.data;
          this.campaigns = data.campaign.data;
          this.page = data.campaign.current_page;
          this.lengthPage = data.campaign.last_page;
        })
        .catch(error => {
          let { response } = error;
          console.log(response);
        });
    }
  },
  created(){
      this.go();
  },
  components:{
    CampaignItem:() => import('../components/CampaignItem')
  }
};
</script>
