<template>
  <div>
    <v-container grid-list-md>
      <div class="text-right">
        <v-btn small text to="/campaigns" class="blue--text">
          All campaigns
          <v-icon>mdi-chevron-right</v-icon>
        </v-btn>
      </div>
      <v-layout wrap>
        <v-flex v-for="(campaign) in campaigns" :key="'category-'+campaign.id" xs6>
          <!-- <v-card :to="'/campaign/'+campaign.id">
            <v-img :src="campaign.image" class="white-text">
              <v-card-title class="fill-height allign-end" v-text="campaign.title"></v-card-title>
            </v-img>
          </v-card>-->
          <campaign-item :campaign="campaign"></campaign-item>
        </v-flex>
      </v-layout>
      <div class="text-right">
        <v-btn small text to="/blogs" class="blue--text">
          All Blogs
          <v-icon>mdi-chevron-right</v-icon>
        </v-btn>
      </div>
      <v-layout wrap>
        <v-carousel hide-delimiters height="500px">
          <v-carousel-item v-for="(blog) in blogs" :key="'blog-'+blog.id">
            <v-img :src="blog.image" class="fill-height">
              <v-container fill-height fluid pa-0 ma-0>
                <v-layout fill-height align-end>
                  <v-flex xs12 mx-2>
                    <span class="headline white--text" v-text="blog.title"></span>
                  </v-flex>
                </v-layout>
              </v-container>
            </v-img>
          </v-carousel-item>
        </v-carousel>
      </v-layout>
    </v-container>
  </div>
</template>

<script>
export default {
  data: () => ({
    campaigns: [],
    blogs: [],
    total:null,
  }),
  created() {
    axios
      .get("api/campaign/random/2")
      .then(res => {
        let { data } = res.data;
        this.campaigns = data.campaigns;
      })
      .catch(error => {
        let { response } = error;
        console.log(response);
      });
    axios
      .get("api/blog/random/2")
      .then(res => {
        let { data } = res.data;
        this.blogs = data.blogs;
      })
      .catch(error => {
        let { res } = error;
        console.log(res);
      });
  },
  components:{
    CampaignItem:()=> import('../components/CampaignItem')
  }
};
</script>
