<template>
  <div>
    <v-card :to="'/campaign/'+campaign.id">
      <v-img :src="campaign.image" class="white--text">
        <v-card-title class="fill-height align-end" v-text="campaign.title"></v-card-title>
      </v-img>
      <v-card-actions>
          <v-progress-linear
          v-model="progres"
          color="blue-grey"
          height="7"></v-progress-linear>
      </v-card-actions>
      <v-card-actions>
          <v-icon>mdi-cash</v-icon>
          <span>RP {{ campaign.required.toLocaleString('id-ID') }}</span>
          <v-spacer></v-spacer>
          <span>{{ progres }}</span>
      </v-card-actions>
    </v-card>
  </div>
</template>

<script>
export default {
  name: "campaign-item",
  props: ['campaign'],
  data: () => ({
    'progres':0,
  }),
  computed: {
    // progres() {
    //   return (this.campaign.collected / this.campaign.required) * 100;
    // }
  },
  created(){
    let collected = this.campaign.collected;
    let required = this.campaign.required;
    this.progres =  collected / required * 100;
  }
};
</script>
