<template>
  <div class="container-fluid">
    <div class="row justify-content-center">
      <div class="col-md-10">
        <div class="input-group mt-3">
          <input type="text" class="form form-control mb-3" v-model="name" />
          <button
            type="button"
            @click="addOrUpdate ? inputData() : update()"
            class="btn btn-primary btn-sm ml-3 mb-3"
          >{{ buttonStatus }}</button>
        </div>
        <div v-show="xxx">
          <div v-for="(user, index) in users" :key="index">
            <div class="card border-success mb-2">
              <div class="row">
                <div class="col-md-8">
                  <div class="ml-2">
                    {{ user.name }}
                    <button
                      type="button"
                      @click="edit(index)"
                      class="btn btn-danger btn-sm ml-2"
                    >Edit</button>
                    <button
                      type="button"
                      @click="hapus(index)"
                      class="btn btn-danger btn-sm ml-2 mt-2 mb-2"
                    >Delete</button>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</template>

<script>
export default {
  data() {
    return {
      buttonStatus:"Add",
      addOrUpdate:true,
      index:null,
      name:'',
      users: [
        {
          name: "Mastuhin"
        },
        {
          name: "Agus Saputra"
        },
        {
          name: "Steven Lingard"
        }
      ]
    };
  },
  methods: {
    inputData() {
      let data = [];
      if (this.name !== '') {
        data.name = this.name
        this.users.push(data);
        this.name = "";
      }
    },
    hapus(index){
        this.users.splice(index,1);
    },
    edit(index){
        this.name = this.users[index].name;
        this.buttonStatus = 'Update';
        this.index = index;
        this.addOrUpdate = false;
    },
    update(){
        let nomer = this.index;
        this.users[nomer].name = this.name;
        console.log('update masuk '+this.users[this.index]);
        this.buttonStatus = "Add";
        this.addOrUpdate = true;
        this.name ='';
        this.getData();
    },
    getData() {
      this.xxx = false;
      this.xxx = true;
    }
  },
  mounted() {},
  created() {
    console.log(this.users);
    this.getData();
  }
};
</script>
