<template>
  <div class="container-fluid">
    <div class="row justify-content-center">
      <div class="col-md-10">
        <div v-show="xxx">
          <div v-for="(komentar, index) in list" :key="index">
            <div class="card border-success mb-2">
              <div class="row">
                <div class="col-sm-2 mix-auto">
                  <div>
                    <button
                      type="button"
                      @click="tambahSkor(index)"
                      class="btn btn-danger btn-sm ml-2 mt-2"
                    >
                      <i class="fas fa-plus"></i>
                    </button>
                  </div>
                  <div>
                    <button
                      type="button"
                      @click="kurangSkor(index)"
                      class="btn btn-danger btn-sm ml-2 mt-2 mb-2"
                    >
                      <i class="fas fa-minus"></i>
                    </button>
                  </div>
                </div>
                <div class="col-md-8">
                  <div>Komentar : {{ komentar.komentar }}</div>
                  <div>tangal : {{ komentar.tanggal }}</div>
                  <div>skor : {{ komentar.skor }}</div>
                </div>
              </div>
            </div>
          </div>
        </div>
        <div class="input-group mt-3">
          <input
            @keyup.enter="inputData(moment().format('HH:MM:SS - DD MMMM YYYY'))"
            type="text"
            class="form form-control"
            v-model="kom"
          />
        </div>
      </div>
    </div>
  </div>
</template>

<script>
export default {
  data() {
    return {
      xxx: true,
      kom: null,
      upVoteStatus: false,
      downVoteStatus: false,
      pisanTok: true,
      list: [
        {
          komentar: "komentar 1 uji coba",
          tanggal: "1-2-2021",
          skor: 2
        }
      ]
    };
  },
  methods: {
    inputData(time) {
      let data = [];
      if (this.kom !== null) {
        data.komentar = this.kom;
        data.tanggal = time;
        data.skor = 0;
        this.list.push(data);
        this.kom = "";
      }
    },
    tambahSkor(index) {
      if (this.upVoteStatus) {
        this.list[index].skor -= 1;
        this.upVoteStatus = false;
      } else {
        if (this.downVoteStatus) {
          this.list[index].skor += 2;
          this.downVoteStatus = false;
        } else {
          this.list[index].skor += 1;
        }
        this.upVoteStatus = true;
      }
      this.getData();
    },
    kurangSkor(index) {
      if (this.downVoteStatus) {
        this.list[index].skor += 1;
        this.downVoteStatus = false;
      } else {
        this.list[index].skor -= 1;
        this.downVoteStatus = true;
      }
      this.getData();
    },
    getData() {
      this.xxx = false;
      this.xxx = true;
    }
  },
  mounted() {},
  created() {
    console.log(this.list);
    console.log("Component mounted.");
    this.getData();
  }
};
</script>
